/* Grid set-up */

.landing {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    font-family: 'Raleway', sans-serif;
}

/* Left side stuff */

.landing-page-left {
    align-self: center;
    justify-self: end;
    text-align: right;
    margin-left: 50px;
}

.landing-page-title {
    font-size: 64px;
    font-weight: 900;
}

.landing-page-subtitle {
    font-size: 24px;
    font-weight: 800;
    margin: 20px 0 30px;
}

/* Right side stuff */

.landing-page-right {
    justify-self: start;
    align-self: center;
    width: 80%;
    min-height: 70%;
    background-image: url("../../assets/images/food-landing.jpeg");
    margin-left: 50px;
    margin-bottom: 40px;
    transition: all 1s ease-out;
}

.landing-page-right:hover {
    box-shadow:
            0 0 50px var(--yellow),
            -10px 0 80px var(--pink),
            10px 0 80px var(--cream);
    transition: all 1s ease-out;
}

