.btn {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 15px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 1s ease-out;
}

.btn:hover {
    background-color: #fff;
    box-shadow: #422800 10px 10px 0 0;
    transition: all 1s ease-out;
}

.btn:active {
    box-shadow: #422800 10px 10px 0 0;
    transform: translate(2px, 2px);
}

.btn--primary {
    background-color: var(--pink);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--pink);
    transition: all 0.3s ease-out;
}

/*.btn--medium {*/
/*    padding: 8px 20px;*/
/*    border-radius: 4px;*/
/*    font-size: 18px;*/
/*    color: #fff;*/
/*}*/

/*.btn--large {*/
/*    padding: 12px 26px;*/
/*    border-radius: 4px;*/
/*    font-size: 20px;*/
/*    color: #fff;*/
/*}*/

