* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #fbeee0;
  --pink: #f28482;
  --yellow: #f6bd60;
  --cream: #fdb6a9;
  --green: #84a59d;
  --brown: #a6846c;
  --white: #f7ede2;
  --black: #343434;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
